@import'../abstracts/colors';

.container{
    ul{
        display: flex;
        justify-content: end;

    }
    a{
        margin: 0 1rem;
        list-style: none;
        text-decoration: none;
        color: black;
        &:hover{
            border-bottom: solid;
        }
    }
}