.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
    top: 0;
    position: sticky;
    background-color: white ;
    border-bottom: solid 0.1rem;
    border-color: rgba(229,231,235);
    font-size: 1.6rem;
}   